# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Publish Docker cross base image

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      target:
        required: false
        type: string
        default: "ARMHF-BULLSEYE"
      base_ver:
        required: false
        type: string
        default: "bullseye-slim"   
    outputs:
      imageid:
        description: "The docker image ID for the cross base image that's built"
        value: ${{ jobs.build_base_cross_image.outputs.imageid }}
      imagever:
        description: "The docker image tag for the cross base image that's built"
        value: ${{ jobs.build_base_cross_image.outputs.imagever }}


jobs:
  build_base_cross_image:
    name: Push Docker cross base image to dockerhub
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME  }}
          password: ${{ secrets.DOCKERHUB_TOKEN  }}
      - 
        name: Generate Base Image version hash
        id: meta
        run: |
          export ER_IMG_TAG="$(./scripts/gen_cross_hash ${{ inputs.arch }}  ./TARGET/${{ inputs.target }})"
          echo "version=$ER_IMG_TAG" >> $GITHUB_OUTPUT
          BASE_VER=$(echo ${{ inputs.base_ver }} | sed 's/-slim//')
          echo "tags=effectiverange/${{ inputs.arch }}-$BASE_VER-tools-cross:$ER_IMG_TAG" >> $GITHUB_OUTPUT
          echo "generate_image=$(./scripts/check_cross_base ${{ inputs.arch }} ./TARGET/${{ inputs.target }})" >> $GITHUB_OUTPUT
        
      - name: Build and push Docker images
        if: steps.meta.outputs.generate_image == 'true'
        id: dbuild
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: "Dockerfile-cross"
          build-args: |
           TARGET_DIR=TARGET/${{ inputs.target }}
           BUILD_ARCH=${{ inputs.arch }}
           BASE_IMAGE_VER=${{ inputs.base_ver }}
          tags: ${{ steps.meta.outputs.tags }}
    outputs:
      imageid: ${{ steps.dbuild.outputs.imageid }}
      imagever: ${{ steps.meta.outputs.version }}

        
