# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Publish Docker image

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      target:
        required: false
        type: string
        default: "ARMHF-BULLSEYE"
      base_repo:
        required: false
        type: string
        default: "debian"
      base_ver:
        required: false
        type: string
        default: "bullseye-slim"
      distro:
          required: false
          type: string
          default: "bullseye"
jobs:
  build_base_image:
    name: Push Docker base image to dockerhub
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: install qemu tools
        run: |
          sudo apt update
          sudo apt install -y qemu-user qemu-user-static qemu-utils binfmt-support
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME  }}
          password: ${{ secrets.DOCKERHUB_TOKEN  }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            effectiverange/${{ inputs.arch }}-${{ inputs.distro }}-tools-base
          flavor: |
            latest=true
      - name: Build and push Docker images
        id: dbuild
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          push: true
          build-args: |
            BASE_IMAGE_REPO=${{ inputs.base_repo }}
            BASE_IMAGE_VER=${{ inputs.base_ver }}
            TARGET_DIR=TARGET/${{ inputs.target }}
            BUILD_ARCH=${{ inputs.arch }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
    outputs:
      imageid: ${{ steps.dbuild.outputs.imageid }}
      imagever: ${{ steps.meta.outputs.version }}

        
