# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Release

on:
  push:
    tags: 
      - "v*.*.*"

jobs:

  call_build_cross_base-armhf-bookworm:
    uses: ./.github/workflows/docker-image-cross.yml
    secrets: inherit
    with:
      arch: "armhf"
      target: "ARMHF-BOOKWORM"
      base_ver: "bookworm-slim"

  call_build_and_publish_images-armhf-bookworm:
    needs: call_build_cross_base-armhf-bookworm
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "armhf"
      base_repo: "effectiverange/armhf-bookworm-tools-cross"
      base_ver:  ${{needs.call_build_cross_base-armhf-bookworm.outputs.imagever}}      
      target: "ARMHF-BOOKWORM"
      distro: "bookworm"

  call_build_cross_base-arm64-bookworm:
    uses: ./.github/workflows/docker-image-cross.yml
    secrets: inherit
    with:
      arch: "arm64"
      target: "AARCH64-BOOKWORM"
      base_ver: "bookworm-slim"

  call_build_and_publish_images-arm64-bookworm:
    needs: call_build_cross_base-arm64-bookworm
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "arm64"
      target: "AARCH64-BOOKWORM"
      base_repo: "effectiverange/arm64-bookworm-tools-cross"
      base_ver:  ${{needs.call_build_cross_base-arm64-bookworm.outputs.imagever}}
      distro: "bookworm"

  call_build_and_publish_images-amd64-bookworm:
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "amd64"
      target: "ARMHF-BOOKWORM"
      base_ver: "bookworm-slim"
      distro: "bookworm"
    

  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    needs: [call_build_and_publish_images-armhf-bookworm,call_build_and_publish_images-amd64-bookworm,call_build_and_publish_images-arm64-bookworm]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Release
        uses: softprops/action-gh-release@v1


